# Database Configuration
DATABASE_URL="postgresql://postgres.project-ref:password@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.project-ref:password@db.project-ref.supabase.co:5432/postgres"

# Auth0 Configuration
AUTH0_ISSUER_BASE_URL="https://your-tenant.auth0.com"
AUTH0_BASE_URL="your-production-domain-url"
AUTH0_CLIENT_ID="your-auth0-client-id"
AUTH0_CLIENT_SECRET="your-auth0-client-secret"

# Environment
NODE_ENV='development' 
